{{extend 'layout_frontend.html'}} {{block head}}
<style>
    .icono {
        font-size: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .h4,
    .h5,
    .page-header h4 {
        font-size: 20px !important;
    }

    .font-20 {
        font-size: 15px;
    }

    .card-box,
    .da-card {
        background-color: #fff;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
        box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
    }

    .widget-style3 {
        padding: 0;
        overflow: hidden;
    }

    .widget-style3 .widget-data {
        width: calc(100% - 60px);
        padding: 20px 15px;
    }

    .widget-style3 .widget-icon {
        width: 60px;
        font-size: 30px;
        line-height: 1;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 5px 0px 0px 5px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #1b00ff;
        color: #fff;
    }
    
    .cardCustom{
        border-radius: 5px;
    }
    .cartTitle{
        border-radius: 5px 5px 0px 0px;
    }
</style>
{{end head}}

<div class="title pb-20">
    <h2 class="h3 mb-0">SGM Estadísticas</h2>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1 text-success">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <div class="icono"><i class="dw dw-user"></i></div>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0 text-success">{{=total_contratos_clientes}}</div>
                    <div class="weight-600 font-20">Total de Clientes</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1 text-success">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <div class="icono"><i class="dw dw-delivery-truck-2"></i></div>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0 text-success">{{=total_contratos_proveedores}}</div>
                    <div class="weight-600 font-20">Total de Proveedores</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1 text-danger">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <div class="icono"><i class="dw dw-folder-33"></i></div>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0 text-danger">{{=total_archivados}}</div>
                    <div class="weight-600 font-20">Contratos Archivados</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1 text-warning">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <div class="icono"><i class="dw dw-folder-144"></i></div>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0 text-warning">{{=total_entregados}}</div>
                    <div class="weight-600 font-20">Contratos Entregados</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1 text-warning">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <div class="icono"><i class="dw dw-folder-144"></i></div>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0 text-warning">{{=total_recogidos}}</div>
                    <div class="weight-600 font-20">Contratos Recogidos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1 text-success">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <div class="icono"><i class="dw dw-folder-142"></i></div>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0 text-success">{{=total_ejecucion}}</div>
                    <div class="weight-600 font-20">Contratos en Ejecución</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1 text-primary">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <div class="icono"><i class="dw dw-file-115"></i></div>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0 text-primary">{{=total_contratos}}</div>
                    <div class="weight-600 font-20">Total de Contratos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-30">
        <div class="card-box height-100-p widget-style1 text-success">
            <div class="d-flex flex-wrap align-items-center">
                <div class="progress-data">
                    <div class="icono"><i class="dw dw-cone"></i></div>
                </div>
                <div class="widget-data">
                    <div class="h4 mb-0 text-success">{{=total_clientes_mantenimiento}}</div>
                    <div class="weight-600 font-20">Clientes con Mantenimiento</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pb-10">
    <div class="col-sm-12 col-md-6 mb-30">
        <div class="cardCustom bg-white shadow shadow-lg">
            <div class="cartTitle p-2 bg-primary text-white">Último Contrato de Servicio</div>
            <div class="cardContainer p-2">
                <a href="{{=URL('contrato','contrato_cliente_detalles', args=ultimo_contrato_cliente_servicio.id)}}">
                    {{=ultimo_contrato_cliente_servicio.numero}}/{{=ultimo_contrato_cliente_servicio.anho}} | {{=ultimo_contrato_cliente_servicio.empresa}} 
                </a>
            </div>
        </div>
    </div>  
    <div class="col-sm-12 col-md-6 mb-30">
        <div class="cardCustom bg-white shadow shadow-lg">
            <div class="cartTitle p-2 bg-primary text-white">Último Contrato de Venta</div>
            <div class="cardContainer p-2">
                <a href="{{=URL('contrato','contrato_cliente_detalles', args=ultimo_contrato_cliente_venta.id)}}">
                    {{=ultimo_contrato_cliente_venta.numero}}/{{=ultimo_contrato_cliente_venta.anho}} | {{=ultimo_contrato_cliente_venta.empresa}}
                </a>
            </div>
        </div>
    </div>      
</div>

<div class="row pb-10">
    <div class="col-sm-12 col-md-6 mb-30">
        <div class="cardCustom bg-white shadow shadow-lg">
            <div class="cartTitle p-2 bg-primary text-white">Porciento de Contratos no Archivados</div>
            <div class="cardContainer p-3">
                <div class="progress">
                    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{=porciento_no_archivados_total}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{=porciento_no_archivados_total}}%</div>
                </div>
            </div>
        </div>
    </div>  
    <div class="col-sm-12 col-md-6 mb-30">
        <div class="cardCustom bg-white shadow shadow-lg">
            <div class="cartTitle p-2 bg-primary text-white">Porciento de Clientes con Mantenimiento</div>
            <div class="cardContainer p-3">
                <div class="progress">
                    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{=porciento_clientes_mantenimiento}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{=porciento_clientes_mantenimiento}}%</div>
                </div>
            </div>
        </div>
    </div>      
</div>

<div class="row pb-10">
    <div class="col-sm-12 col-md-6 mb-30">
        <div class="cardCustom bg-white shadow shadow-lg">
            <div class="cartTitle p-3 bg-primary text-white">Empresas con más Mantenimientos</div>
            <div class="cardContainer p-3">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Empresa</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for i in empresas_mas_mantenimientos:}}
                            <tr>
                                <th scope="row">{{=i[0]}}</th>
                                <td><span class="badge badge-success">{{=i[1]}}</span></td>
                            </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-30">
        <div class="cardCustom bg-white shadow shadow-lg">
            <div class="cartTitle p-3 bg-primary text-white">Empresas con menos Mantenimientos</div>
            <div class="cardContainer p-3">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Empresa</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for i in empresas_menos_mantenimientos:}}
                            <tr>
                                <th scope="row">{{=i[0]}}</th>
                                <td><span class="badge badge-danger">{{=i[1]}}</span></td>
                            </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>


