{{extend 'layout_frontend.html'}} {{block head}}
<style>
  .no_display {
    display: none !important;
  }

  .select2-container {
    width: 100% !important;
  }
</style>
{{end head}}

<div class="row">
  <div class="col-md-12">
    <div class="mb-3">
      {{=A(SPAN(I(_class= "fa fa-list"), ' Administrar'),_href=URL('firma_autorizada',
      'firma_autorizada_proveedor_administrar',args = request.args(0, cast=int)) or redirect(URL('contrato','administrar')), _class='btn btn-success')}}
    </div>

    <div id="container">
      <div class="pd-20 card-box mb-30">
        <div class="clearfix">
          <h4 class="text-blue h4">Agregar Firma</h4>
        </div>

        <div class="mt-4">
          {{=form.custom.begin}}

          <div class="row">

            <div class="col-sm-6">
                {{=form.custom.label.nombre_completo}} <span class="error">*</span>
                <div class="mb-2">{{=form.custom.widget.nombre_completo}}</div>
              </div>

            <div class="col-sm-6">
              {{=form.custom.label.cargo}}
              <div class="mb-2">{{=form.custom.widget.cargo}}</div>
            </div>
            <div class="col-md-12">
              <hr />
            </div>

        
          </div>

          <br />
          {{=form.custom.submit}} {{=form.custom.end}}
        </div>
      </div>
    </div>
  </div>
</div>

{{block page_js}}

<script>
  $("select").select2();
</script>

{{end page_js}}
