{{extend 'layout_frontend.html'}}
<script src="{{=URL('static/frontend', 'fullCalendar/fullcalendar.min.js')}}"></script>
{{include 'components/html2pdf.html'}}


<button class="btn btn-danger" id="btnTicket" onclick="printTicket()">
    <i class="fa fa-print"></i> Imprimir Ticket
</button>

<div class="pd-20 card-box mb-30">
    <div class="calendar-wrap">
        <div id="calendar"></div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                droppable: true,
                // monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                // monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                // dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                // dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                allDayText: 'Todo el Día',
                buttonText: {
                    today: 'Hoy',
                    day: 'Día',
                    week: 'Semana',
                    month: 'Mes',
                    // prev: 'Anterior',
                    // next: 'Siguiente',
                    prevYear: 'Año Anterior',
                    nextYear: 'Año Siguiente',
                },
                // initialView: 'dayGridMonth',
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: '',
                    center: 'title',
                    right: 'today,dayGridMonth,listMonth'
                }
            });
            // {{for item in mantenimientos:}}
            calendar.addEvent({
                title: '{{=item.cliente}}',
                // description: 'Descripcion del evento',
                start: '{{=item.fecha}}',
                color: '{{if item.estado == 'pl':}}blue{{elif item.estado == 'ej':}}green{{else:}}red{{pass}}',
            })
            // {{pass}}
            calendar.render();
        });


    </script>

    <script>
        function printTicket() {
            document.getElementById("btnTicket").disabled = true;
            let uuid4 = 'Resumen'
            var element = document.getElementById("calendar");
            var opt = {
                margin: [0, 0, 0, 0], //top, left, buttom, right,
                filename: uuid4 + ".pdf",
                image: {type: "jpeg", quality: 0.98},
                html2canvas: {scale: 2}, // Calidad de PDF, Lo mas alto usado es 15
                jsPDF: {unit: "in", format: "letter", orientation: "landscape"},
                // pagebreak: { before: '.beforeClass', after: ['#after1', '#after2'], avoid: 'img' }
                pagebreak: {after: ".pageBreak"},
            };

            document.getElementById("btnTicket").innerText =
                "Generando PDF [Calidad=" + opt.html2canvas.scale + "]. Espere...";

            // New Promise-based usage:
            html2pdf()
                .set(opt)
                .from(element)
                .save()
                .then(() => {
                    document.getElementById("btnTicket").disabled = false;
                    document.getElementById("btnTicket").innerHTML =
                        '<i class="fa fa-print"></i> Imprimir Ticket';
                });
        }

    </script>