{{extend 'layout_frontend.html'}}{{block head}}

<link rel="stylesheet" type="text/css"
  href="{{=URL('static/frontend', 'src/plugins/datatables/css/dataTables.bootstrap4.min.css')}}" />
<link rel="stylesheet" type="text/css"
  href="{{=URL('static/frontend', 'src/plugins/datatables/css/responsive.bootstrap4.min.css')}}" />

{{end head}}

<div class="pb-20">
  <a href="{{=URL('mantenimiento', 'calendario')}}" class="btn btn-success">
    <span><i class="fa fa-calendar"></i></span> Calendario</a>

</div>

<!-- Simple Datatable start -->
<div class="card-box mb-30">
  <div class="pd-20">
    <h4 class="text-blue h4">Contratos de Servicio</h4>
  </div>

  <div class="pb-20">
    <table class="data-table table stripe hover nowrap">
      <thead>
        <tr>
          <th class="table-plus">Empresa</th>
          <th>No. Contrato</th>
          <th>Mantenimiento</th>
          <th class="datatable-nosort">Administrar</th>
        </tr>
      </thead>
      <tbody>
        {{for row in rows:}}
        <tr>
          <td class="table-plus" data-toggle="tooltip" title="{{=row.contrato_cliente.empresa}}" data-placement="top">{{=row.contrato_cliente.empresa}}</td>
          <td>{{=row.contrato_cliente.numero}}</td>
          <td>{{if row.mantenimiento_contrato.id:}}Si{{else:}}No{{pass}}</td>
          <td>
            <div class="dropdown">
              <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button"
                data-toggle="dropdown">
                <i class="dw dw-more"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">


                {{if row.mantenimiento_contrato.id:}}
                <a class="dropdown-item"
                  href="{{=URL('mantenimiento', 'deshabilitar_mantenimiento', args = row.contrato_cliente.id)}}"><i
                    class="dw dw-switch"></i>Desactivar</a>
                {{else:}}
                <a class="dropdown-item"
                  href="{{=URL('mantenimiento', 'habilitar_mantenimiento', args = row.contrato_cliente.id)}}"><i
                    class="dw dw-switch"></i>Activar</a>
                {{pass}}

                {{if row.mantenimiento_contrato.id:}}
                <a class="dropdown-item"
                  href="{{=URL('mantenimiento', 'editar_planificacion', args = row.contrato_cliente.id)}}"><i
                    class="dw dw-add"></i> Cambiar Frecuencia</a>
                <a class="dropdown-item" href="{{=URL('mantenimiento', 'detalles', args = row.contrato_cliente.id)}}"><i
                    class="dw dw-eye"></i>Detalles</a>
                <a class="dropdown-item"
                  href="{{=URL('mantenimiento', 'crear', args = row.mantenimiento_contrato.id)}}"><i
                    class="dw dw-add"></i> Agregar Mantenimiento</a>

                <a class="dropdown-item"
                  href="{{=URL('mantenimiento', 'administrar', args = row.mantenimiento_contrato.id)}}"><i
                    class="dw dw-server"></i> Administrar Mantenimientos</a>
                {{pass}}

              </div>
            </div>
          </td>
        </tr>
        {{pass}}
      </tbody>
    </table>
  </div>
</div>
<!-- Simple Datatable End -->

{{block page_js}}
{{include 'components/datatables.html'}}


<script>
  function eliminar(id, numero) {
    swal(
      {
        title: "¿Está seguro de eliminar?",
        text: "El Contrato No. " + numero + " será eliminado del sistema.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Eliminar",
        cancelButtonText: "Cancelar",
        closeOnConfirm: true,
        closeOnCancel: true,
      },
      function (isConfirm) {
        if (isConfirm) {
          var url = "{{=URL('contrato','eliminar')}}";
          location.href = url + "/" + id;
        } else {
          // event.preventDefault();
          //swal("Cancelled !!", "Hey, your imaginary file is safe !!", "error");
        }
      }
    );
  }
</script>

{{end page_js}}