{{extend 'layout_frontend.html'}}
<script src="{{=URL('static/frontend', 'fullCalendar/fullcalendar.min.js')}}"></script>

<div class="pd-20 card-box mb-30">
    <div class="calendar-wrap">
        <div id="calendar"></div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                droppable: true,
                // monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                // monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                // dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                // dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
                allDayText: 'Todo el Día',
                customButtons: {
                    add_event: {
                        text: 'Agregar Evento',
                        click: function () {
                            location.href = "{{=URL('mantenimiento','crear2')}}";
                        }
                    }
                },
                buttonText: {
                    today: 'Hoy',
                    day: 'Día',
                    week: 'Semana',
                    month: 'Mes',
                    // prev: 'Anterior',
                    // next: 'Siguiente',
                    prevYear: 'Año Anterior',
                    nextYear: 'Año Siguiente',
                },
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'add_event,today,dayGridMonth,timeGridDay,listWeek,' // user can switch between the two
                }
            });
            // {{for item in mantenimientos:}}
            calendar.addEvent({
                title: '{{if item.observaciones:}}{{=item.observaciones}}{{else:}}Sin Descripción{{pass}}',
                // description: 'Descripcion del evento',
                start: '{{=item.fecha}}',
                color: 'red',
            })
            // {{pass}}
            calendar.render();
        });


    </script>