{{extend 'layout_frontend.html'}}

<style>
    thead{
        background-color: #eaeaea;
    }

     thead{
        background-color: #eaeaea;
    }

    .cardFiltro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
    }
     .cardTitle{
        font-size: 20px;
        font-weight: 600;
    }

    .customSelect {
        width: 100%;
    }

    @media (max-width: 600px) {
        .customSelect {
            width: 100px;
        }
    }

    
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        max-height: 120px; /* Altura máxima antes de que aparezca el scroll vertical */
        overflow-y: auto; /* Muestra el scroll vertical solo si es necesario */
        overflow-x: hidden; /* Oculta el scroll horizontal */
        white-space: normal; /* Permite que el texto se ajuste a varias líneas */
    }
</style>

<div>
    <div class="title pb-10">
        <h2 class="h3 mb-0">Reporte Contrato Proveedores</h2>
    </div>

    <div class="page-header">
        <form>
            <div class="row justify-content-end mr-2">
                <div>
                    <select class="form-control" multiple id="proveedor" name="proveedor">
                        {{for item in proveedores:}}
                        <option {{if item['selected']:}}selected{{pass}} value="{{=item['id']}}">{{=item['empresa']}}</option>
                        {{pass}}
                    </select>
                </div>

                <div class="ml-4">
                    <button type="submit" class="btn btn-outline-primary mr-2"><i
                        class="fa fa-search mr-2"></i>Filtrar
                    </button>
                    <button type="button" id="btnTicket" onclick="printTicket()" class="btn btn-outline-danger"><i
                        class="fa fa-print mr-2"></i>Imprimir
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="pt-10">
        <div class="page-header" id="area_reporte">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                        <div class="p-5">
                             <div class="row justify-content-between align-items-center">
                                 <div class="logo">
                                    <img src="{{=URL('static','images/deskapp-logo.svg')}}" alt=""/>
                                </div>
                                <div>
                                    <h5 class="text-center weight-600">Alta Gama S.R.L.</h5>
                                </div>
                            </div>
                            <div class="row pb-30">
                                <div class="col-md-6">
                                    <h4 class="mb-15">Sistema de Gestión de Servicios</h4>
                                    <p class="font-14 mb-5">
                                        Emitido: <strong class="weight-600">{{=datetime.datetime.now().strftime('%d/%m/%Y')}}</strong>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <p class="font-14 mb-5">{{=auth.user.first_name}} {{=auth.user.last_name}}</p>
                                        <p class="font-14 mb-5">{{=auth.user.email}}</p>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Número</th>
                                        <th scope="col">Empresa</th>
                                        <th scope="col">Tipo de Contrato</th>
                                        <th scope="col">Estado de Contrato</th>
                                        <th scope="col">Confeccionado</th>
                                        <th scope="col">Vencimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{for i in contratos:}}
                                    <tr>
                                        <td>{{=i.numero}}/{{=i.anho}}</td>
                                        <th scope="row">{{=i['empresa']}}</th>
                                        <td>{{=TIPO_CONTRATO[i.tipo_contrato]}}</td>
                                        <td>{{=ESTADO_CONTRATO[i.estado_contrato]}}</td>
                                        <td>{{=i.fecha_confeccion.strftime('%d/%m/%Y')}}</td>
                                        <td>{{=i.fecha_vencimiento.strftime('%d/%m/%Y')}}</td>
                                    </tr>
                                    {{pass}}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
</div>

<script>
    function printTicket() {
        document.getElementById("btnTicket").disabled = true;
        let uuid4 = 'Resumen'
        var element = document.getElementById("area_reporte");
        var opt = {
            margin: [0, 0, 0, 0], //top, left, buttom, right,
            filename: uuid4 + ".pdf",
            image: {type: "jpeg", quality: 0.98},
            html2canvas: {scale: 2}, // Calidad de PDF, Lo mas alto usado es 15
            jsPDF: {unit: "in", format: "letter", orientation: "landscape"},
            // pagebreak: { before: '.beforeClass', after: ['#after1', '#after2'], avoid: 'img' }
            pagebreak: {after: ".pageBreak"},
        };

        document.getElementById("btnTicket").innerText =
            "Generando PDF [Calidad=" + opt.html2canvas.scale + "]. Espere...";

        // New Promise-based usage:
        html2pdf()
            .set(opt)
            .from(element)
            .save()
            .then(() => {
                document.getElementById("btnTicket").disabled = false;
                document.getElementById("btnTicket").innerHTML =
                    '<i class="fa fa-print"></i> Imprimir Ticket';
            });
    }

</script>


{{block page_js}}
{{include 'components/select2.html'}}
{{include 'components/datepicker.html'}}
{{include 'components/html2pdf.html'}}
{{end page_js}}