{{extend 'layout_frontend.html'}} {{block head}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{=URL('static/frontend', 'src/plugins/datatables/css/dataTables.bootstrap4.min.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{=URL('static/frontend', 'src/plugins/datatables/css/responsive.bootstrap4.min.css')}}"
/>
{{end head}}

<div class="pb-20">
  <a href="{{=URL('contrato', 'contrato_proveedor_administrar')}}" class="btn btn-success">
    <span><i class="fa fa-users"></i></span> Proveedores</a
  >

  <a href="{{=URL('contrato', 'contrato_cliente_crear')}}" class="btn btn-success">
    <span><i class="fa fa-plus"></i></span> Nuevo contrato</a
  >
</div>


<!-- Simple Datatable start -->
<div class="card-box mb-30">
  <div class="pd-20">
    <h4 class="text-blue h4">Contratos de Clientes</h4>
  </div>

  <div class="pb-20">
    <table class="data-table table stripe hover nowrap">
      <thead>
        <tr>
          <th class="table-plus">No. Contrato</th>
          <th>Empresa</th>
          <th>Tipo Contrato</th>
          <th>Estado</th>
          <th>Confeccionado</th>
          <th>Vencimiento</th>
          <th class="datatable-nosort">Administrar</th>
        </tr>
      </thead>
      <tbody>
        {{for row in rows:}}
        <tr>
          <td class="table-plus">{{=row.numero}}/{{=row.anho}}</td>
          <td>{{=row.empresa}}</td>
          <td>{{=TIPO_CONTRATO[row.tipo_contrato]}}</td>
          <td>{{=ESTADO_CONTRATO[row.estado_contrato]}}</td>
          <td>{{=row.fecha_confeccion.strftime('%d/%m/%Y')}}</td>
          <td>{{=row.fecha_vencimiento.strftime('%d/%m/%Y')}}</td>
          <td>
            <div class="dropdown">
              <a
                class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
              >
                <i class="dw dw-more"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
              >
                <a
                  class="dropdown-item"
                  href="{{=URL('contrato', 'contrato_cliente_detalles', args=row.id)}}"
                  ><i class="dw dw-eye"></i> Detalles</a
                >

                <a
                  class="dropdown-item"
                  href="{{=URL('contacto', 'contacto_cliente_administrar', args=row.id)}}"
                  ><i class="dw dw-phone-call"></i> Contactos</a
                >

                <a
                  class="dropdown-item"
                  href="{{=URL('firma_autorizada', 'firma_autorizada_cliente_administrar', args=row.id)}}"
                  ><i class="dw dw-file-411"></i> Firmas Autorizadas</a
                >

                <a
                  class="dropdown-item"
                  href="{{=URL('contrato', 'contrato_cliente_editar', args=row.id)}}"
                  ><i class="dw dw-edit2"></i> Editar</a
                >
                <a
                  class="dropdown-item"
                  href="#"
                  onclick="eliminar('{{=row.id}}', '{{=row.numero}}')"
                  ><i class="dw dw-delete-3"></i> Eliminar</a
                >
              </div>
            </div>
          </td>
        </tr>
        {{pass}}
      </tbody>
    </table>
  </div>
</div>
<!-- Simple Datatable End -->

{{block page_js}}
{{include 'components/datatables.html'}}

<script>
  function eliminar(id, numero) {
    swal(
      {
        title: "¿Está seguro de eliminar?",
        text: "El Contrato No. " + numero + " será eliminado del sistema.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Eliminar",
        cancelButtonText: "Cancelar",
        closeOnConfirm: true,
        closeOnCancel: true,
      },
      function (isConfirm) {
        if (isConfirm) {
          var url = "{{=URL('contrato','contrato_cliente_eliminar')}}";
          location.href = url + "/" + id;
        } else {
          // event.preventDefault();
          //swal("Cancelled !!", "Hey, your imaginary file is safe !!", "error");
        }
      }
    );
  }
</script>

{{end page_js}}
