{{extend 'layout_login.html'}}

<div class="login-box bg-white box-shadow border-radius-10">
  <div class="login-title text-center">
    <div class="title">SGM</div>
    <!-- <img src="{{=URL('static', 'images/Logo_Sistema.png')}}" alt=""> -->

    <!-- <p>Ingrese sus credenciales</p> -->
  </div>
  {{=form.custom.begin}}
  <div class="input-group custom">
    {{=form.custom.widget.username}}
    <div class="input-group-append custom">
      <span class="input-group-text"
        ><i class="icon-copy dw dw-user1"></i
      ></span>
    </div>
  </div>
  <div class="input-group custom">
    {{=form.custom.widget.password}}
    <div class="input-group-append custom">
      <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group mb-0 pt-20">
        <!--
                        use code for form submit
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                    -->
        <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          href="index.html"
        >
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
  {{=form.custom.end}}
</div>

<style>
    .login-title .title {
        font-size: 30px;
        font-weight: 600;
    }
    /* .login-title p {
        font-size: 15px;
        font-weight: 600;
        color: #717171;
    } */
</style>

{{block page_js}}
<script>
  // Custom Script
  document.getElementById("auth_user_username").placeholder = "Usuario";
  document.getElementById("auth_user_password").placeholder = "Contraseña";
</script>
{{end page_js}}
